/* 水平居中 */

div {
  width: 750px;
  margin: 0 auto;
}

/* 完全居中 */

div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 颜色淡入 */

a {
  color: #000;
  transition: color 0.5s linear;
}

a:hover {
  color: #f60;
}

/* 背景透明，文字不透明 */

div {
  background: #fff;
  /* 兼容 IE，IE 滤镜 */
  filter: Alpha(opacity=60);
  background: rgba(255, 255, 255, 0.6);
}

/* 渐变 */

div {
  width: 290px;
  height: 20px;
  /* IE8 和 IE9 渐变 */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#00ffffff, endColorstr=#ffffffff, gradientType=1);
  background: linear-gradient(to left, #fff 0%, transparent 58%);
}

/* 多行文本末显示省略号 */

div {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* scale 防止抖动 */

div {
  /* chrome下会抖动，IE下会抖动 */
  transform: scale(1.1);
  transition: transform 1s ease;
}

div {
  /* chrome和Firefox下不会抖动，IE会抖动 */
  transform: scale(1.13);
  transition: transform 1s ease;
}

/* 文本两端对齐 */

div {
  /* 主流浏览器 */
  text-align: justify;
}

div {
  /* IE */
  text-align: justify;
  text-justify: inter-ideograph;
  /* text-justify 只支持 IE */
}